<section id="MainContainer">
    <!-- Banner starts here -->
    <section id="HeroBanner">
        <div class="hero-content">
        <br><br><br><br>
            <h1>Sama Business Plan</h1>
            <p>Ne travaillez pas plus dur : travaillez plus intelligemment.</p>
            <a routerLink='login' class="hero-cta">CONNEXION</a>
        </div>
    </section>
    <!-- Banner ends here -->
    <!-- Services section starts here -->

    <!-- Services section ends here -->
    <!-- About Us section starts here -->
    <section id="About">
        <div class="container" style="color: black;">
            <div class="about-wrapper">
                <h2>Dix erreurs à éviter pour le plan d'affaires :</h2>
                <p>1-Pas de dossier fourre-tout et volumineux<br>
                2-Un projet mat expliqué <br>
                3-Pas ou peu d'étude de marché<br>
                4-Une abondance de chiffres inutles<br>
                5-Un chiffre d'affaires surestimé<br>
                6-Un point mort trop optimiste<br>
                7-Un besoin en fonds de roulement minimisé<br>
                8-Des prévisions de ventes trop fantaisistes<br>
                9-Une mauvaise prévisionsdu budget<br>
                10-Un projet insuffisamment évalué</p>
            </div>
        </div>
    </section>
    <!-- About Us section ends here -->
    <section id="Testimonial">
        <div class="testimonial-wrap">
        <div class="container">
        <div class="block-heading">
            <h2>Conseils</h2>
        </div>
        <p>Elaborer votre plan d'affaires, quelle que soit la taille de l'entreprise que vous voulez créez.
        Et pour réussir l'élaboration de votre plan d'affaires if faut :</p>
        <ul class="testimonial-slider">
            <li>Eviter de créez par mimétisme ; apporter toujours un un "plus", une innovation;</li>
            <li>parler de votre idée de projet aux peronnes susceptibles de vous apporter un appui ou une assistance dans vos demarches<br>
            et capables de garder le secret avec d'autres.</li>
            <li>consacrer le nécessaire pour faire le travail de recherches d'informations et d'analyse;</li>
            <li>ne pas rester figésur des objectifs difficiles à réaliser.</li>
        </ul>
        </div>
    </div>
    </section>
    <!-- Contact us section starts here -->
    <section id="ContactUs">
        <div class="container contact-container">
            <h3 class="contact-title">Self Made</h3>
            <div class="contact-outer-wrapper">
                <div class="address-block">
                    <p class="add-title">Contact Details</p>
                    <div class="c-detail">
                        <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span> <span class="c-info">12 Avenue center, st. marks road, CA</span>
                    </div>
                    <div class="c-detail">
                        <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span> <span class="c-info">+776726692</span>
                    </div>
                    <div class="c-detail">
                        <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span> <span class="c-info">click@gmail.com</span>
                    </div>
                </div>
                <div class="form-wrap">
                    <p class="add-title">Send Us Message</p>
                    <form>
                        <div class="fname floating-label">
                            <input type="text" class="floating-input" name="full name" id="full-name-field" />
                            <label for="full-name-field">Full Name</label>
                        </div>
                        <div class="email floating-label">
                            <input type="email" class="floating-input" name="email" id="mail-field" />
                            <label for="mail-field">Email</label>
                        </div>
                        <div class="contact floating-label">
                            <input type="tel" class="floating-input" name="contact" id="contact-us-field" />
                            <label for="contact-us-field">Contact</label>
                        </div>
                        <div class="company floating-label">
                            <input type="text" class="floating-input" name="company" id="company-field" />
                            <label for="company-field">Company</label>
                        </div>
                        <div class="user-msg floating-label">
                            <textarea class="floating-input" name="user message" id="user-msg-field"></textarea>
                            <label for="user-msg-field" class="msg-label">Your Message</label>
                        </div>
                        <div class="submit-btn">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact us section ends here -->
</section>
