<div class="container">
    <br><br>
    <div class="row">
        <h1 style="color:black;" class="mx-auto">PLAN FINANCIER</h1>
    </div>
    <br><br>
    <div class="row">
        <h3 style="color: blue;">Votre fond de roulement est : {{fondroulement}}</h3>
    </div>
    <br><br>
    <div class="row">
        <h3 style="color: blue;">Votre projet {{rentabilite}}</h3>
    </div>
    <br><br>
    <div id="contentToConvert">
    <mat-tab-group>
        <mat-tab label="Investissements">
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
                <div class="row">
                    <h4 style="color: black;" class="mx-auto">INVESTISSEMENTS ET FINANCEMENTS</h4>
                </div>
                <div class="row"> 
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">INVESTISSEMENTS</th>
                                <th scope="col">MONTANT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let demarrage of demarrages">
                                <td>{{demarrage?.description}}</td>
                                <td>{{demarrage?.monant}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Financements">
            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h4 style="color: black;" class="mx-auto">FINANCEMENT DES INVESTISSEMENTS</h4>
            </div>
            <br>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">FINANCEMENT DES INVESTISSEMENTS</th>
                            <th scope="col">MONTANT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let demarrage of demarrages">
                            <td>{{demarrage?.description}}</td>
                            <td>{{demarrage?.monant}}</td>
                        </tr>
                        <tr>
                            <td scope="col">EMPRUNT</td>
                            <td scope="col">montant</td>
                            <td scope="col">durée</td>
                            <td scope="col">taux</td>
                        </tr>
                        <tr *ngFor="let pretbank of pretbanks">
                            <td>{{pretbank?.description}}</td>
                            <td>{{pretbank?.montant}}</td>
                            <td>{{pretbank?.duree}}</td>
                            <td>{{pretbank?.taux}}</td>
                        </tr>
                        <tr>
                            <td scope="col">AUTRES FINANCEMENTS</td>
                            <td></td>
                            <td></td>
                            <td>    </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </mat-tab>
        <mat-tab label="Compte de Resultat">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h4 style="color:black;" class="mx-auto">COMPTE DE RESULTAT PREVISONNEL SUR 3 ANS</h4>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">ANNEE 1</th>
                            <th scope="col">ANNEE 2</th>
                            <th scope="col">ANNEE 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">PRODUITS D'EXPLOITATION</th>
                            <th scope="col">{{chiffre_daff_ann1}}</th>
                            <th scope="col">{{chiffre_daffaire2}}</th>
                            <th scope="col">{{chiffre_daffaire3}}</th>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">CHARGES D'EXPLOITATION</td>
                           <td scope="col">{{achat_cons[0]}}</td>
                            <td scope="col">{{achat_cons[1]}}</td>
                            <td scope="col">{{achat_cons[2]}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">MARGE BRUTE</td>
                            <td scope="col" style="color:white;">{{marge_annee[0]}}</td>
                            <td scope="col" style="color:white;">{{marge_annee[1]}}</td>
                            <td scope="col" style="color:white;">{{marge_annee[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">CHARGES EXTERNES</td>
                            <td scope="col" style="color:black;">{{Charge1}}</td>
                            <td scope="col" style="color:black;">{{Charge2}}</td>
                            <td scope="col" style="color:black;">{{Charge3}}</td>
                        </tr>
                        <tr *ngFor="let charge of charges">
                            <td>{{charge?.description}}</td>
                            <td>{{charge?.monant_ann1}}</td>
                            <td>{{charge?.monant_ann2}}</td>
                            <td>{{charge?.monant_ann3}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">VALEUR AJOUTEE</td>
                            <td scope="col" style="color:white;">{{valeur[0]}}</td>
                            <td scope="col" style="color:white;">{{valeur[1]}}</td>
                            <td scope="col" style="color:white;">{{valeur[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">Dotation aux amortissments</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">RESULTAT NET COMPTABLE</td>
                            <td scope="col" style="color:white;">{{result[0]}}</td>
                            <td scope="col" style="color:white;">{{result[1]}}</td>
                            <td scope="col" style="color:white;">{{result[2]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Solde Intermediaires">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h4 style="color:black;" class="mx-auto">SOLDES INTERMEDIAIRES DE GESTION</h4>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">ANNEE 1</th>
                            <th scope="col">ANNEE 2</th>
                            <th scope="col">ANNEE 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">CHIFFRE D'AFFAIRE</td>
                            <td scope="col">{{chiffre_daff_ann1}}</td>
                            <td scope="col">{{chiffre_daffaire2}}</td>
                            <td scope="col">{{chiffre_daffaire3}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">CHARGES D'EXPLOITATION</td>
                           <td scope="col">{{achat_cons[0]}}</td>
                            <td scope="col">{{achat_cons[1]}}</td>
                            <td scope="col">{{achat_cons[2]}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">MARGE GLOBALE</td>
                            <td scope="col" style="color:white;">{{marge_annee[0]}}</td>
                            <td scope="col" style="color:white;">{{marge_annee[1]}}</td>
                            <td scope="col" style="color:white;">{{marge_annee[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">CHARGES EXTERNES</td>
                            <td scope="col" style="color:black;">{{Charge1}}</td>
                            <td scope="col" style="color:black;">{{Charge2}}</td>
                            <td scope="col" style="color:black;">{{Charge3}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">VALEUR AJOUTEE</td>
                            <td scope="col" style="color:white;">{{valeur[0]}}</td>
                            <td scope="col" style="color:white;">{{valeur[1]}}</td>
                            <td scope="col" style="color:white;">{{valeur[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">Dotation aux amortissments</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">RESULTAT D'EXPLOITATION</td>
                            <td scope="col" style="color:white;">{{result[0]}}</td>
                            <td scope="col" style="color:white;">{{result[1]}}</td>
                            <td scope="col" style="color:white;">{{result[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">CAPACITE D'AUTOFINANCEMENT</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Capacite D'autofinancement">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h4 style="color:black;" class="mx-auto">CAPACITE D'AUTOFINANCEMENT</h4>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">ANNEE 1</th>
                            <th scope="col">ANNEE 2</th>
                            <th scope="col">ANNEE 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col" style="color:black;">Resultat de l'exercice</td>
                            <td scope="col" style="color:black;">{{result[0]}}</td>
                            <td scope="col" style="color:black;">{{result[1]}}</td>
                            <td scope="col" style="color:black;">{{result[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">Dotation aux amortissments</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                            <td scope="col" style="color:black;">{{dotation}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">CAPACITE D'AUTOFINANCEMENT</td>
                            <td scope="col" style="color:white;">{{valeur[0]}}</td>
                            <td scope="col" style="color:white;">{{valeur[1]}}</td>
                            <td scope="col" style="color:white;">{{valeur[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">Remboursement des emprunts</td>
                            <td scope="col" style="color:black;">{{remboursement1}}</td>
                            <td scope="col" style="color:black;">{{remboursement2}}</td>
                            <td scope="col" style="color:black;">{{remboursement3}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">AUTOFINANCEMENT NET</td>
                            <td scope="col" style="color:white;">{{autofinance[0]}}</td>
                            <td scope="col" style="color:white;">{{autofinance[1]}}</td>
                            <td scope="col" style="color:white;">{{autofinance[2]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Seuil de rentatibilite">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h4 style="color:black;" class="mx-auto">SEUIL DE RENTABILITE ECONOMIQUE</h4>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">ANNEE 1</th>
                            <th scope="col">ANNEE 2</th>
                            <th scope="col">ANNEE 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col" style="color:black;">Vente + production reelle</td>
                            <td scope="col" style="color:black;">{{chiffre_daff_ann1}}</td>
                            <td scope="col" style="color:black;">{{chiffre_daffaire2}}</td>
                            <td scope="col" style="color:black;">{{chiffre_daffaire3}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">Total des couts variables</td>
                            <td scope="col" style="color:black;">{{achat_cons[0]}}</td>
                            <td scope="col" style="color:black;">{{achat_cons[1]}}</td>
                            <td scope="col" style="color:black;">{{achat_cons[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">Marge sur les couts variables</td>
                            <td scope="col" style="color:black;">{{marge_annee[0]}}</td>
                            <td scope="col" style="color:black;">{{marge_annee[1]}}</td>
                            <td scope="col" style="color:black;">{{marge_annee[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">Couts fixes</td>
                            <td scope="col" style="color:black;">{{Charge1}}</td>
                            <td scope="col" style="color:black;">{{Charge2}}</td>
                            <td scope="col" style="color:black;">{{Charge3}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">Seuil de rentabilité</td>
                            <td scope="col" style="color:white;">{{Cout_total[0]}}</td>
                            <td scope="col" style="color:white;">{{Cout_total[1]}}</td>
                            <td scope="col" style="color:white;">{{Cout_total[2]}}</td>
                        </tr>
                        <tr>
                            <td scope="col" style="color:black;">RESULTAT NET COMPTABLE</td>
                            <td scope="col" style="color:black;">{{result[0]}}</td>
                            <td scope="col" style="color:black;">{{result[1]}}</td>
                            <td scope="col" style="color:black;">{{result[2]}}</td>
                        </tr>
                        <tr class="bg-dark">
                            <td scope="col" style="color:white;">Excédent/Insuffisance</td>
                            <td scope="col" style="color:white;">{{Excedent_Insuffisance[0]}}</td>
                            <td scope="col" style="color:white;">{{Excedent_Insuffisance[1]}}</td>
                            <td scope="col" style="color:white;">{{Excedent_Insuffisance[2]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
    </mat-tab-group>
    </div>
    <br><br><br>
    <div class="row">
        <h3><button type="button" (click)="downloadPDF()" class="btn btn-light">Telecharger en PDF</button></h3>
    </div>
</div>
