<div class="container-fluid">
    <br>
    <form #myform="ngForm" (ngSubmit)="savepretbank(myform)" class="form-horizontal" role="form">
        <h2>Enregistrement de pret banque</h2>
        <div class="form-group">
            <label for="Intitule" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-12">
                <input type="text" name="description" id="Intitule" placeholder="Description" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="monant" class="col-sm-4 control-label">Montant</label>
            <div class="col-sm-12">
                <input type="number" name="montant" id="monant" placeholder="Montant" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="duree" class="col-sm-4 control-label">Durée</label>
            <div class="col-sm-12">
                <input type="number" name="duree" id="duree" placeholder="Durée année 2" class="form-control" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="taux" class="col-sm-4 control-label">Taux</label>
            <div class="col-sm-12">
                <input type="number" name="taux" id="taux" placeholder="Taux" class="form-control" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="texte" hidden name="entreprise" [ngModel]='ID_entreprise' id="Location" placeholder="Id entreprise" class="form-control">
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block"  value="Enregister un pret banque!">
    </form> <!-- /form -->
    <br>
</div> <!-- ./container -->

