 <div *ngFor="let entreprise of entreprises">
    <h2 style="color: black;">{{ entreprise.intitule_projet }}</h2>
    <h2>{{ entreprise.statut_juridique }}</h2>
</div> 
<div class="container-fluid">
    <br>
    <form #myform="ngForm" (ngSubmit)="enregister(myform)" class="form-horizontal" role="form">
        <h2>Creation d'entreprise</h2>
        <div class="form-group">
            <label for="Intitule" class="col-sm-4 control-label">Intitulé du projet</label>
            <div class="col-sm-12">
                <input type="text" name="intitule_projet" id="Intitule" placeholder="Intitulé du projet" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="staut" class="col-sm-4 control-label">Statut juridique</label>
            <div class="col-sm-12">
                <input type="text" name="statut_juridique" id="staut" placeholder="Statut juridique" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="n_tel" class="col-sm-4 control-label">Numéro téléphone</label>
            <div class="col-sm-12">
                <input type="number" name="n_tel" id="n_tel" placeholder="Numéro téléphone" class="form-control" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email </label>
            <div class="col-sm-12">
                <input type="email" name="email" id="email" placeholder="Email" class="form-control" name= "email" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="Location" class="col-sm-4 control-label">Location</label>
            <div class="col-sm-12">
                <input type="texte" name="location" id="Location" placeholder="Location" class="form-control" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="nature" class="col-sm-4 control-label">Vente de Services ou Marchandises</label>
            <div class="col-sm-12">
                <input type="texte" name="nature" id="nature" placeholder="Vente de Services ou Marchandises" class="form-control" ngModel required>
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Créer l'entreprise !">
    </form> <!-- /form -->
    <br>
</div> <!-- ./container -->
