 <!-- Header starts here -->
    <header id="Header">
        <nav class="main-navigation" style="background-color: brown">
            <div class="container clearfix">
                <div class="site-logo-wrap">
                    <a class="logo" href="#"><img src="../assets/images/b.jpg" alt="Busness plan"></a>
                </div>
                <a href="#" class="menu-trigger hidden-lg-up"><span>&nbsp;</span></a>
                <div class="main-menu hidden-md-down">
                    <ul class="menu-list">
                        <li><a class="nav-link" routerLink="" data-target="_self">Home</a></li>
                        <li><a class="nav-link" routerLink="#" data-target="#Services">Exemples</a></li>
                        <li><a class="nav-link" (click)="logout()"  data-target="_self">Deconnexion</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu hidden-lg-up">
                <ul class="mobile-menu-list">
                    <li><a class="nav-link" routerLink="" data-target="_self">Home</a></li>
                    <li><a class="nav-link" routerLink="#" data-target="#Services">Exemples</a></li>
                    <li><a class="nav-link" (click)="logout()" data-target="_self">Deconnexion</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header ends here -->