<div class="container-fluid">
    <br>
    <form #myform="ngForm" (ngSubmit)="saveFinance(myform)" class="form-horizontal" role="form">
        <h2>Enregistrement d'une financement</h2>
        <div class="form-group">
            <label for="Intitule" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-12">
                <input type="text" name="description" id="Intitule" placeholder="Description" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="monant" class="col-sm-4 control-label">Montant</label>
            <div class="col-sm-12">
                <input type="number" name="montant" id="monant" placeholder="Montant" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="texte" hidden name="entreprise" id="Location" [ngModel]='ID_entreprise' placeholder="Id entreprise" class="form-control">
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Enregistrer une financement!">
    </form> <!-- /form -->
    <br>
</div> <!-- ./container -->
