<div class="container-fluid">
    <br>
    <form #myform="ngForm" (ngSubmit)="saveChiffrann(myform)" class="form-horizontal" role="form">
        <h2>Enregistrement d'un chiffre d'affaire annuel</h2>
        <div class="form-group">
            <label for="Intitule" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-12">
                <input type="text" name="description" id="Intitule" placeholder="Description" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="monant" class="col-sm-4 control-label">Montant</label>
            <div class="col-sm-12">
                <input type="number" name="montant" id="monant" placeholder="Montant" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="pourcentage1" class="col-sm-12 control-label">Pourcentage d'augmentation de année 1 à 2 (pas en %)</label>
            <div class="col-sm-12">
                <input type="number" name="pourcentage1" id="pourcentage1" placeholder="Pourcentage d'augmentation de année 1 à 2" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="pourcentage2" class="col-sm-12 control-label">Pourcentage d'augmentation de année 1 à 3 (pas en %)</label>
            <div class="col-sm-12">
                <input type="number" name="pourcentage2" id="pourcentage2" placeholder="Pourcentage d'augmentation de année 1 à 3" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="pourcentage_charge" class="col-sm-12 control-label">Cout d'achat de vos marchandises en %</label>
            <div class="col-sm-12">
                <input type="number" name="pourcentage_charge" id="pourcentage_charge" placeholder="Pourcentage d'augmentation de année 1 à 3" class="form-control" autofocus ngModel>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="texte" hidden name="entreprise" [ngModel]='ID_entreprise' id="Location" placeholder="Id entreprise" class="form-control">
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Enregistrer une chiffre d'affaire annuel!">
    </form> <!-- /form -->
    <br>
</div> <!-- ./container -->

