<div class="container" id='contentToConvert'>
    <br><br>
    <div class="row">
        <h1 style="color:red;" class="mx-auto"> RECAPUTILATIFS </h1>
    </div>
    <br><br>
    <mat-tab-group>
        <mat-tab label="Demarrage">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h2 style="color:black;" class="mx-auto">BESOIN DE DEMARRAGE</h2>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">MONTANT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let demarrage of demarrages">
                            <td>{{demarrage?.description}}</td>
                            <td>{{demarrage?.monant}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Charge">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h2 style="color:black;" class="mx-auto">LES CHARGES FIXES</h2>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">MONTANT ANNEE 1</th>
                            <th scope="col">MONTANT ANNEE 2</th>
                            <th scope="col">MONTANT ANNEE 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let charge of charges">
                            <td>{{charge?.description}}</td>
                            <td>{{charge?.monant_ann1}}</td>
                            <td>{{charge?.monant_ann2}}</td>
                            <td>{{charge?.monant_ann3}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Financement">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h2 style="color:black;" class="mx-auto">LE FINANCEMENT DES BESOINS</h2>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">MONTANT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let finance of finances">
                            <td>{{finance?.description}}</td>
                            <td>{{finance?.montant}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Pret Bancaire">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h1 style="color:black;" class="mx-auto">LES PRETS BANCAIRES</h1>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">MONTANT</th>
                            <th scope="col">DUREE</th>
                            <th scope="col">TAUX</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pretbank of pretbanks">
                            <td>{{pretbank?.description}}</td>
                            <td>{{pretbank?.montant}}</td>
                            <td>{{pretbank?.duree}}</td>
                            <td>{{pretbank?.taux}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
        <mat-tab label="Chiffre D'affaire">
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 mx-auto">
            <div class="row">
                <h3 style="color:black;" class="mx-auto">CHIFFRE D'AFFAIRE ANNUEL</h3>
            </div>
            <div class="row"> 
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">DESCRIPTION</th>
                            <th scope="col">MONTANT</th>
                            <th scope="col">Poucentage d'augmentation année 1 à 2 en %</th>
                            <th scope="col">Poucentage d'augmentation année 1 à 3 en %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chiffre of chiffres">
                            <td>{{chiffre?.description}}</td>
                            <td>{{chiffre?.montant}}</td>
                            <td>{{chiffre?.pourcentage1}}</td>
                            <td>{{chiffre?.pourcentage2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </mat-tab>
    </mat-tab-group>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <h3><a [routerLink]="['/recap/planfinancier']">VOIR LE PLAN FINANCIER</a></h3>
        </div>
        <hr>
        <div class="row">
            <h3><button type="button" (click)="downloadPDF()" class="btn btn-light">Telecharger en PDF</button></h3>
        </div>
    </div>
    <br>
    <hr>
    <br>
</div>
