<div class="container-fluid">
    <br>
    <form #myform="ngForm" (ngSubmit)="saveCharge(myform)" class="form-horizontal" role="form">
        <h2>Creation de charge</h2>
        <div class="form-group">
            <label for="Intitule" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-12">
                <input type="text" name="description" id="Intitule" placeholder="Description" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="monant_ann1" class="col-sm-4 control-label">Montant année 1</label>
            <div class="col-sm-12">
                <input type="number" name="monant_ann1" id="monant_ann1" placeholder="Montant année 1" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="monant_ann2" class="col-sm-4 control-label">Montant année 2</label>
            <div class="col-sm-12">
                <input type="number" name="monant_ann2" id="monant_ann2" placeholder="Montant année 2" class="form-control" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="monant_ann3" class="col-sm-4 control-label">Montant année 3</label>
            <div class="col-sm-12">
                <input type="number" name="monant_ann3" id="monant_ann3" placeholder="Montant année 3" class="form-control" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input hidden type="texte" name="entreprise" [ngModel]='ID_entreprise' id="Location" placeholder="Id entreprise" class="form-control">
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Enregistrer une charge!">
    </form> <!-- /form -->
    <br>
</div> <!-- ./container -->
