/* footer style goes here */
#Footer {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 50px 0;
}
#Footer .footer-logo-wrap {
	width: 100%;
	font-size: 12px;
	color: #fff;
}
#Footer .footer-logo-wrap a {
	color: #0098aa;
	outline: 0;
}
#Footer .footer-logo-wrap {
  width: 100%;
  text-align: center;
}
#Footer .social-share {
  width: 100%;
  margin-bottom: 30px;
}
#Footer .social-share ul {
  text-align: center;
}
#Footer .social-share ul li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
#Footer .social-share ul li a {
	font-size: 22px;
	color: #fff;
	padding: 0 10px;
}
#Footer .social-share ul li a:hover .fa-facebook {
	color: #3b5998;
}
#Footer .social-share ul li a:hover .fa-twitter {
	color: #00aced;
}
#Footer .social-share ul li a:hover .fa-linkedin {
	color: #0077B5;
}
#Footer .social-share ul li a:hover .fa-instagram {
	color: #fb3958;
}



