 <!-- Footer section starts here -->
    <footer id="Footer">
        <div class="container">
            <div class="social-share">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="footer-logo-wrap">
                Design Studio &copy; 2018. Designed by Self Made
            </div>
        </div>
    </footer>
    <!-- Footer section ends here -->
