/* You can add global styles to this file, and also import other style files */
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";   
html {
   height: 100%;
}

body {
    /* display: flex; */
    padding: 0;
    /* align-items: center; */
    min-height: 100%;
    font-family: 'lato', sans-serif;
    color: #fff;
    font-size: 13px;
}