<div class="container-fluid">
    <br>
    <form #myform="ngForm" (ngSubmit)="enregister(myform)" class="form-horizontal" role="form">
        <h2>Enregistrement d'un chiffre d'affaire mensuel</h2>
        <div class="form-group">
            <label for="Intitule" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-12">
                <input type="text" name="description" id="Intitule" placeholder="Description" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="nbre_jr" class="col-sm-4 control-label">Nombre de jour travaillé</label>
            <div class="col-sm-12">
                <input type="number" name="nbre_jr" id="nbre_jr" placeholder="Nombre de jour travaillé" class="form-control" autofocus ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="chiffr_jr" class="col-sm-4 control-label">Chiffre d'affaire journalier</label>
            <div class="col-sm-12">
                <input type="number" name="chiffr_jr" id="chiffr_jr" placeholder="Chiffre d'affaire journalier" class="form-control" ngModel required>
            </div>
        </div>
        <div class="form-group">
            <label for="Location" class="col-sm-4 control-label">ID chiffre annuel</label>
            <div class="col-sm-12">
                <input type="texte" name="entreprise" id="Location" placeholder="Id entreprise" class="form-control" ngModel required>
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Enregistrer chiffre d'affaire mensuel!">
    </form> <!-- /form -->
    <br>
</div> <!-- ./container -->
