<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-mg-12 col-xl-12 col-lg-12">
      <div class="logo" style="color:black;">Créer un nouveau compte!</div>
      <div class="register-item">
        <form #myform="ngForm" (ngSubmit)="register(myform)" class="form form-register">

          <div class="form-field">
                <label class="user" for="register-prenom"><span class="hidden">Prenom</span></label>
                <input name="first_name" id="register-prenom" type="texte" class="form-input" placeholder="Prenom" ngModel required>
          </div>
          <div class="form-field">
                <label class="user" for="register-nom"><span class="hidden">Nom</span></label>
                <input name="last_name" id="register-nom" type="texte" class="form-input" placeholder="Nom" ngModel required>
          </div>
          <div class="form-field">
                <label class="user" for="register-username"><span class="hidden">Username</span></label>
                <input name="username" id="register-username" type="texte" class="form-input" placeholder="Username" ngModel required>
          </div>
          <div class="form-field">
            <label class="user" for="register-email"><span class="hidden">Email</span></label>
            <input name="email" id="register-email" type="email" class="form-input" placeholder="Email" ngModel required>
          </div>
          <div class="form-field">
            <label class="lock" for="register-password"><span class="hidden">Password</span></label>
            <input name="password" id="register-password" type="password" class="form-input" placeholder="Password" ngModel required>
          </div>
          <div class="form-field">
            <input type="submit" class="btn btn-primary btn-block" value="S'inscrire !">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>