<br>
<div class="container">
    <div class="logo" style="color: black;">Connexion</div>
    <div class="login-item">
      <form #myform="ngForm" (ngSubmit)="login(myform)" class="form form-login">
        <div class="form-field">
          <label class="user" for="login-username"><span class="hidden">Username</span></label>
          <input name="username" id="login-username" type="texte" class="form-input" placeholder="Username" required ngModel>
        </div>

        <div class="form-field">
          <label class="lock" for="login-password"><span class="hidden">Password</span></label>
          <input name="password" id="login-password" type="password" class="form-input" placeholder="Password" required ngModel>
        </div>

        <div class="form-field">
          <input type="submit" value="Log in">
        </div>
      </form>
      <div>
        <a routerLink='register' data-target="_self" style="color: blue;">Vous n'avez pas de compte</a>
      </div>
    </div>
</div>
<br>