<div class="container">
    <br><br>
    <div>
        <h1 class="display-5" style="color:red; text-align:center;">TABLEAU DE BORD</h1>
    </div>
    <br><br>
    <table class="table table-trapped jumbotron">
        <thead class="thead-dark">
            <tr>
                <th>Intitule projet</th>
                <th>Statut juridique</th>
                <th>Numéro de Tel</th>
                <th>Addresse Mail</th>
                <th>Location</th>
                <th>Vente de Marchandises ou de Services</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{entreprise?.intitule_projet}}</td>
                <td>{{entreprise?.statut_juridique}}</td>
                <td>{{entreprise?.n_tel}}</td>
                <td>{{entreprise?.email}}</td>
                <td>{{entreprise?.location}}</td>
                <td>{{entreprise?.nature}}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <h3 style="color:blue;">Pour une rédaction sure, concise et claire, il est souhaitable de suivre ces etapes:</h3>
    </div>
    <mat-tab-group>
        <mat-tab label="1: Besoins de demarrage">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 style="color:black;">1: Besoins de demarrage</h3>
                    <p>Prévoir les besoins de démarrage est une étape importante
                    du projet de création d’entreprise. L’objectif est d’établir une liste exhaustive <br>
                    de toutes les dépenses qui devront être faites avant même de démarrer l’activité, et aussi de prévoir suffisamment d’argent frais pour assurer le démarrage effectif de l’activité.</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h6 style="color:black;">EXEMPLE</h6>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-trapped">
                    <thead class="thead-dark">
                        <th>Description</th>
                        <th> montant</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Frais d’établissement</td>
                            <td > 50 000</td>
                        </tr>
                        <tr>
                            <td>Frais d’ouverture de compteurs</td>
                            <td > 30 000</td>
                        </tr>
                        <tr>
                            <td>Achat immobilier</td>
                            <td > 25 000</td>
                        </tr>
                        <tr>
                            <td>Travaux et aménagement intérieur</td>
                            <td > 10 000</td>
                        </tr>
                        <tr>
                            <td>Matériel, décoration</td>
                            <td >800 000</td>
                        </tr>
                        <tr>
                            <td> Matériel de bureau</td>
                            <td >300 000</td>
                        </tr>
                        <tr>
                            <td>Stock de matières et produits</td>
                            <td > 1 500 000</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary" (click)="open1()">Enregistrer les frais de demarrages</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="2: Etablissement des charges">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 style="color:black;">2: Etablissement des charges :</h3>
                    <p>La budgétisation correcte de toutes les charges nécessaires au lancement de votre entreprise et à l’exercice de votre activité sécurise <br>
                    votre projet d’entreprise et facilite son pilotage. Cette budgétisation des charges est réalisée dans le cadre de l’établissement votre prévisionnel financier.</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h6 style="color:black;">EXEMPLE</h6>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-trapped">
                        <thead class="thead-dark">
                            <th>Description</th>
                            <th> Montant année 1</th>
                            <th>Montant année 2</th>
                            <th> Montant année 3</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td > Assurances</td>
                                <td > 80 000</td>
                                <td > 75 000</td>
                                <td > 80 000</td>
                            </tr>
                            <tr>
                                <td>Téléphone, internet</td>
                                <td> 150 000</td>
                                <td> 150 000</td>
                                <td> 150 000</td>
                            </tr>
                            <tr>
                                <td>Carburant, transports</td>
                                <td> 250 000</td>
                                <td> 300 000</td>
                                <td> 320 000</td>
                            </tr>
                            <tr>
                                <td>Frais de déplacement et hébergement</td>
                                <td> 1 200 000</td>
                                <td> 1 200 000</td>
                                <td> 1 200 000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary" (click)="open2()">Enregistrer vos charges fixes</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="3: Financement des demarrage">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 style="color:black;">3: Financement des besoins de demarrage :</h3>
                    <p>Face à la diversité des solutions de financement existantes sur le marché, le choix optimal reste depuis toujours une des préoccupations majeures des entrepreneurs et des chefs d’entreprises qui souhaitent financer un projet.
                    Pour réussir son choix, il est essentiel de bien définir son besoin afin d’opter pour un moyen de financement adapté.</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h6 style="color:black;">EXEMPLE</h6>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-trapped">
                        <thead class="thead-dark">
                            <th>DESCRIPTION</th>
                            <th>MONTANT</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td > 25 000</td>
                                <td > 525 000</td>
                            </tr>
                            <tr>
                                <td > 35 000</td>
                                <td > 735 000</td>

                            </tr>
                            <tr>
                                <td > 35 000</td>
                                <td > 735 000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary" (click)="open3()">Enregistrer le financement de vos besoins de demarrage</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="4: Prets bancaire">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 style="color:black;">4: Les prets</h3>
                    <p>Le prêt bancaire est une solution de financement très largement utilisée par les créateurs d'entreprise.
                        D'une manière générale, un projet bien préparé, cohérent et porté par un ou plusieurs créateurs motivés aura 
                        toutes les chances d'obtenir un financement.A contrario, un projet présentant un plan de financement déséquilibré 
                        et peu d'éléments convaincants sur son marché ne présentera pas les garanties suffisantes pour séduire un banquier. C'est une évidence !</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h6 style="color:black;">EXEMPLE</h6>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-trapped">
                        <thead class="thead-dark">
                            <th>Description</th>
                            <th> montant</th>
                            <th> taux</th>
                            <th> durée (mois)</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Apport personnel ou familial</td>
                                <td > 1 000 000</td>
                                <td > 8</td>
                                <td > 48</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary" (click)="open4()">Enregistrer les prets bancaire</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="5: Chiffre d'affaire annuel">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 style="color:black;">5: Chiffre d'affaire annuel :</h3>
                    <p>Le chiffre d'affaires (CA) est la somme des ventes de biens ou de services d'une entreprise . Il est égal au montant (hors taxes) de 
                    l'ensemble des transactions réalisées par l'entreprise avec des tiers dans le cadre de son activi
                    té normale et courante. Sa formule : chiffre d'affaires = prix de ventre * quantité vendues. Le chiffre d'affaires peut se calculer pour n'importe 
                    quelle période, cela dit il est souvent calculé de façon mensuelle, trimestrielle et annuelle. Cette notion est le premier indicateur de performance des ventes d'une entreprise. </p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h6 style="color:black;">EXEMPLE</h6>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-trapped">
                        <thead class="thead-dark">
                            <th>DESCRIPTION</th>
                            <th>MONTANT</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td >Chiffre d'affaire annuel</td>
                                <td >10 000 000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary" (click)="open5()">Enregistrer votre chiffre d'affaires annuel</button>
                </div>
            </div>
      </mat-tab>
    </mat-tab-group>
    <br><br><br>
    <div class="row">
        <h3><a [routerLink]="['/dashboard', entreprise.id, 'recap']">Regarder le recapitulatif</a></h3>
    </div>
</div>
