<div class="container emp-profile">
    <div class="row">
        <div class="col-md-9">
            <div class="profile-head">
                <div class="col-sm-8 col-md-8">
                    <h4 style="color:black;">
                        Nom :{{infos?.first_name}} {{infos?.last_name}}
                    </h4>
                    <h5>
                        Pseudo : {{user?.username}}
                    </h5>
                    <h6>
                        Addresse mail : {{user?.email}}
                    </h6>
                </div>
                <br><br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <button class="btn btn-primary btn-block" (click)="redirect()" role="tab" aria-controls="home" aria-selected="true">Enregistrer une entreprise</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<div class="container">
    <table class="table table-trapped">
        <thead class="thead-dark">
            <tr>
                <th>Intitule projet</th>
                <th>Statut juridique</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entreprise of entreprises">
                <td><a [routerLink]='["/dashboard", entreprise.id]'>{{entreprise.intitule_projet}}</a></td>
                <td>{{entreprise.statut_juridique}}</td>
            </tr>
        </tbody>
    </table>
</div>